*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    background-color: #373838;
    min-height: 10vh;
}

a {
    text-decoration: none;
    color: cornsilk;
}

nav {
    min-height: 10vh;
    display: flex;
    width: 90%;
    margin: auto;
    flex: 1 1 40rem;
}

nav ul {
    display: flex;
    flex: 1 1 40rem;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
}

.background {
    background: url(jan-tinneberg-IBcY2eVZ74k-unsplash.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    flex-direction: column;
    min-height: 110vh;
    
}

.logo {
    flex: 1 1 40rem;
    margin-top: 25px;
    margin-left: 25px;
    color: black;
}

section h1 {
    font-style: italic;
    font-size: 4em;
    position: relative;
}

section p {
    font-style: normal;
    font-size: 2em;
    position: relative;
}

.main {
    font-size: x-large;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
    color: cornsilk;
    background: transparent;
    margin: 2px;
    border: none;
}

section div {
    background: url(mailicon.jpg);
    background-size: cover;
    position: fixed;
    top: 650px;
    right: 25px;
    width: 1cm;
    height: 1cm;
    cursor: pointer;
}
